<div [ngClass] = "{'er-tli': true,
			'er-tli__with-description': !!transaction.description}">
	<div class = "er-tli__top">
		<div class = "er-tli__top__category">
			<div class = "er-tli__top__category__icon">
				<img class = "er-tli__top__category__icon__img"
				     src = "assets/categories/{{ transaction.category.icon }}" alt = "{{ transaction.category.name }}">
			</div>
			<div class = "er-tli__top__category__name">{{transaction.category.name}}</div>
		</div>
		<div class = "er-tli__top__amount">{{transaction.amount}} {{ transaction.paymentAccount.currency }}</div>
	</div>
	<div class="er-tli__spacer"></div>
	<div class = "er-tli__bottom">
		<div *ngIf = "!!transaction.description" class = "er-tli__bottom__description">{{ transaction.description }}</div>
		<div class="er-tli__bottom__divider"></div>
		<div class = "er-tli__bottom__payment-account">{{ transaction.paymentAccount.name }}</div>
	</div>
</div>