:host {
	padding : 6px;
}

.er-tli {
	width         : 100%;
	border-radius : 0 20px 0 0;
	border-top    : solid 2px red;

	&__top {
		padding          : 12px 6px;
		border-radius    : inherit;
		background-color : lightgreen;
		display          : flex;

		&__category {
			margin-right : auto;
			display      : flex;

			&__icon {
				background-color : lightpink;
				border-radius    : 50%;
				width            : 60px;
				height           : 60px;
				display          : flex;
				align-items      : center;
				justify-content  : center;
				border           : solid 4px black;

				&__img {
					width  : calc((50% * 1.41) * 0.9);
					height : calc((50% * 1.41) * 0.9);
				}
			}

			&__name {
				font-size : 1.5rem;
				margin    : auto 0 auto 12px;
			}
		}

		&__amount {
			font-size : 1.75rem;
			margin    : auto 0;
		}
	}

	&__spacer {
		width            : 100%;
		height           : 1px;
		background-color : darkred;
	}

	&__bottom {
		min-height : 24px;
		display    : flex;

		&__payment-account {
			font-size        : 1.2rem;
			background-color : lightgreen;
			margin-left      : auto;
			border-radius    : 0 0 0 6px;
			border-bottom    : solid 2px red;
			padding          : 0 12px;
			max-width: 50%;
			min-width: 40%;
			text-align: right;
		}

		&__description {
			white-space      : nowrap;
			overflow         : hidden;
			text-overflow    : ellipsis;
			min-width        : 30%;
			max-width        : 40%;
			font-size        : 1rem;
			text-align       : left;
			justify-content  : center;
			padding          : 0 12px;
			margin-right     : auto;
			background-color : lightgreen;
			border-radius    : 0 0 6px 0;
			border-bottom    : solid 2px red;
		}

		&__divider {
			background-color : lightgreen;
			width            : 100%;
			max-width: 60%;
			min-width: 50%;
			&::after {
				position         : relative;
				left             : 0;
				top              : 0;
				width            : 100%;
				height           : 100%;
				content          : ' ';
				display          : inline-block;
				border-radius    : 0 20px 0 0;
				background-color : darkgreen;
				border-top       : solid 2px darkred;
			}
		}
	}


	&__with-description {
		border-top-left-radius : 20px;
		.er-tli {

			&__bottom {
				&__payment-account {
					max-width: 30%;
				}
				&__divider {
					min-width: 25%;
					max-width: 30%;
					&::after {
						border-top-left-radius : 20px;
					}
				}
			}
		}
	}
}