@import 'styles/bootstrap';
@import 'styles/buttons';
@import 'styles/colors';

$app-font : 'Open Sans', 'Helvetica Neue', sans-serif !default;

html, body { height : 100%; }

body { margin : 0; font-family : $app-font; color: black; }

//body { margin : 0; font-family : $app-font; background-color : $dark-blue-1; color: $pink-1; }

input, select, button { font-family : inherit; }

* { box-sizing : border-box; }

*[hidden] { display : none !important; }
